.bold{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bolder;
    font-style: oblique;
    font: lightseagreen;
}
.back{
    background-color: cadetblue;
    border: 10px;
}
.s{
    padding: 20px;
}